@model MemberOrderListVM

<h4>My Orders</h4>
<br />
@if (Model.Orders.ToList().Count == 0)
{
    <div>
        <span>You have no orders yet.</span>
    </div>
}
else
{
<table class="table">
    <tr>
        <th>
            Number
        </th>
        <th>
            Date
        </th>
        <th>
            Status
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>
                @order.Id.ToString().ToUpper().Replace("-","")
            </td>
            <td>
                <span>
                    <time datetime="@order.Date.ToString("dd MMMM yyyy HH:mm")">
                        @order.Date.ToString("dd MMMM yyyy HH:mm")
                    </time>
                </span>
            </td>
            <td>
                @order.OrderStatusValue
            </td>
            <td>
                @order.OrderItems.Select(o => o.Ticket.Price).Sum().ToString("c") 
            </td>
            <td>
                <a class="btn btn-sm btn-outline-dark"
                   asp-area="" 
                   asp-controller="Orders" 
                   asp-action="Detail" 
                   asp-route-orderId="@order.Id">View</a>
            </td>
        </tr>
    }
</table>
}