@using GDC.EventHost.App.Areas.Admin.ViewModels
@model SeatingPlanListVM

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" 
                   class="form-control" 
                   placeholder="Enter value to search..." 
                   asp-for="SearchQuery"
                   value="@ViewData["CurrentFilter"]"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<h4>SeatingPlans</h4>
<br />
@if (Model.SeatingPlanList.Count == 0)
{
    <div>
        <span>Sorry, your search did not return any results. Please try again.</span>
    </div>
}
else
{
<table class="table">
    <tr>
        <th style="width:400px">
            <a asp-action="Index" 
                asp-route-sortOrder="@ViewData["SeatingPlanNameSortParm"]"
                asp-route-searchQuery="@ViewData["CurrentFilter"]">
                Name
                <i class="fas fa-sort"></i>
            </a>
        </th>
        <th>
            <a asp-action="Index" 
                asp-route-sortOrder="@ViewData["VenueNameSortParm"]"
                asp-route-searchQuery="@ViewData["CurrentFilter"]">
                Venue
                <i class="fas fa-sort"></i>
            </a>
        </th>
        <th></th>
    </tr>
    @foreach (var layout in Model.SeatingPlanList)
    {
        <tr>
            <td>
                @layout.Name
            </td>
            <td>
                @if (layout.VenueName.Length > 50)
                {
                    @(layout.VenueName.Substring(0, 50)+"...");
                }
                else
                {
                    @layout.VenueName;
                }
            </td>
            <td style="text-align:right">
                <a asp-area="Admin" 
                   asp-controller="SeatingPlanAdmin" 
                   asp-action="Detail" 
                   asp-route-id="@layout.Id">View</a>
                &nbsp;|&nbsp;
                <a asp-area="Admin"
                   asp-controller="SeatingPlanAdmin"
                   asp-action="Edit"
                   asp-route-id="@layout.Id">Edit</a>
                &nbsp;|&nbsp;   
                <a asp-area="Admin" 
                   asp-controller="SeatingPlanAdmin" 
                   asp-action="Delete" 
                   asp-route-id="@layout.Id">Delete</a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3" style="text-align:center">
            @{
                var prevDisabled = !Model.SeatingPlanList.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.SeatingPlanList.HasNextPage ? "disabled" : "";
            }

            <a asp-action="Index"
                asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.SeatingPlanList.PageIndex - 1)"
                asp-route-searchQuery="@ViewData["CurrentFilter"]"
                class="btn btn-sm btn-link text-dark @prevDisabled">
                @Html.Raw("<")
            </a>

            <span class="btn btn-sm text-dark">
                @(Model.SeatingPlanList.PageIndex) of @(Model.SeatingPlanList.TotalPages)
            </span>

            <a asp-action="Index"
                asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.SeatingPlanList.PageIndex + 1)"
                asp-route-searchQuery="@ViewData["CurrentFilter"]"
                class="btn btn-sm btn-link text-dark @nextDisabled">
                @Html.Raw(">")
            </a>
        </td>
    </tr>
</table>
}
<br />
<div>
    <a class="btn btn-sm btn-outline-dark"
       asp-area="Admin" 
       asp-controller="Home"
       asp-action="Index">Back to Menu</a>
    &nbsp;
    <a class="btn btn-sm btn-outline-dark" 
       asp-area="Admin"
        asp-controller="SeatingPlanAdmin"
        asp-action="AddPosition">Create Seating Plan</a>
</div>

