@using GDC.EventHost.App.Areas.Admin.ViewModels
@model SeriesAssetDetailVM

<h4>Event / @Model.SeriesName / Asset</h4>
<br />

<div>
    <strong>Type:</strong>
    @Model.SeriesAsset.AssetTypeValue
</div>
<br />
<div>
    <strong>Name:</strong>
    @Model.SeriesAsset.Name
</div>
<br />
<div>
    <strong>Description:</strong>
    @Model.SeriesAsset.Description
</div>
<br />
<div>
    <strong>Uri:</strong>
    @Model.SeriesAsset.Uri
</div>
<br />
<div>
    <strong>Original Image:</strong>
</div>
<br />
<div>
    <img src="@Url.Content(Model.SeriesAsset.Uri)" alt="@Model.SeriesAsset.Name"/>
</div>
<br />

<div>
    @if (Model.ReturnUrl.Contains("Add"))
    {
        // we came from an edit page so redirect to list page
        <a class="btn btn-sm btn-outline-dark"
           asp-area="Admin"
           asp-controller="SeriesAdmin"
           asp-action="Detail"
           asp-route-id="@Model.SeriesAsset.SeriesId">Back</a>
    }
    else
    {
        <a class="btn btn-sm btn-outline-dark"
           href="@Model.ReturnUrl">Back</a>
    }
</div>

