@model OrderEditVM

<h4>Create Order</h4>
<br />
@ViewBag.Message
<div>
    <strong>Date:</strong>
    <span>
        <time datetime="@Model.Order.Date.ToString("dd MMMM yyyy HH:mm")">
            @Model.Order.Date.ToString("dd MMMM yyyy HH:mm")
        </time>
    </span>
</div>
<br />
@if (Model.Order.OrderItems.Count > 0)
{
    <div>
        <table class="table">
            <tr>
                <th>
                    Ticket
                </th>
                <th class="text-right">
                    Price
                </th>
                <th></th>
            </tr>
            @foreach (var orderItem in Model.Order.OrderItems)
            {
                var stringBuilder = new System.Text.StringBuilder();

                stringBuilder.Append($"{orderItem.Ticket.PerformanceTitle}, ");
                stringBuilder.Append($"{orderItem.Ticket.PerformanceDate.ToString("dd MMMM yyyy HH:mm")}, ");
                stringBuilder.Append($"{orderItem.Ticket.VenueName} - ");

                @foreach (var seatPosition in orderItem.Ticket.Seat.SeatPositions)
                {
                    stringBuilder.Append($"{seatPosition.SeatPositionTypeName} {seatPosition.DisplayValue}, ");
                }

                stringBuilder.Append($" Seat {orderItem.Ticket.Seat.DisplayValue}");

                <tr>
                    <td class="text-left">@stringBuilder.ToString()</td>
                    <td class="text-right">@orderItem.Ticket.Price.ToString("c")</td>
                </tr>
            }
            <tr>
                <td class="text-right">Total:</td>
                <td class="text-right">
                    @Model.OrderTotal.ToString("c") 
                </td>
            </tr>
        </table>
    </div>
    <br />
}
else
{
    <div>
        <span>There are no items in this order. Please contact support.</span>
    </div>
}
<br />
<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <input asp-for="@Model.Order.Date" type="hidden" />
    <input asp-for="@Model.Order.MemberId" type="hidden" />
    <input asp-for="@Model.Order.OrderStatusId" type="hidden" />

    @for (var i=0; i < Model.Order.OrderItems.Count; i++)
    {
        <input asp-for="@Model.Order.OrderItems[i].Ticket.PerformanceDate" type="hidden" />
        <input asp-for="@Model.Order.OrderItems[i].Ticket.PerformanceId" type="hidden" />
        <input asp-for="@Model.Order.OrderItems[i].Ticket.Id" type="hidden" />
        <input asp-for="@Model.Order.OrderItems[i].Ticket.SeatId" type="hidden" />
    }

    <div>
        <span>You will be asked to confirm your order on the next page.</span> 
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <a class="btn btn-sm btn-outline-dark"
               href="javascript:history.go(-1)">Cancel</a>&nbsp;
            <input class="btn btn-sm btn-outline-dark"
                   type="submit" value="Proceed" />
        </div>
    </div>
</form>